<h2>How do we remember?</h2>
<p>
  If moments are fleeting, memories are permanent. We share our most powerful memories so that they grow with time rather than fade - giving us the ability to celebrate friends and family members long after they have passed. Memories.com is here because sometimes words aren't enough; it is a thoughtful forum in which we may continuously share the stories, photos and videos that paint a complete portrait of our loved ones. Memories.com is where memories live forever.
</p>
