<%= render 'shared/content_title', title: "Timeline Section" %>

<div id="obituaries-page" class="page obituaries-page page-container">
	<div class="container">
		<div class="row">
			<!-- Post Container -->
			<div id="post-container" class="col-md-8 post-container" role="main">
				<div class="about-right-box">

					<!-- Events Section -->
	        <h2>Timeline</h2>
	        <br>
	        <table class="table">
	          <thead>
	            <tr>
	              <th>#</th>
	              <th>Title</th>
	              <th>Date</th>
	              <th>Image</th>
	              <th>Description</th>
                <th>Published?</th>
	              <th>Edit</th>
	              <th>Delete</th>
	            </tr>
	          </thead>
	          <tbody id="events">
							<%= render partial: "creator/events/event", collection: @events %>
	          </tbody>
	        </table>
	        <br>

					<%= link_to "New Timeline Event", new_creator_memorial_event_path(@memorial), remote: true, class: "submit-btn submit md-btn btn" %>

					<br>
					<div id="event-form" style="display:none;"></div>
					<br>

				</div><!--  /.about-right-box -->

			</div><!-- /.post-container -->
			<!-- Post Container End -->

			<!-- Sidebar -->
			<%= render 'edit_sidebar' %>
			<!-- Sidebar End-->

		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /#about-page -->
