<% cache [comment, 'main-content'] do  %>
  <div class="column twelve">
    <div class="column three"><span style="opacity:0">Space</span></div>
    <div class="column six">
      <div class="box pattern">
        <span class="date"><%= display_month_day_year(comment.created_at) %></span>
        <div class="guest">
          <p><%= comment.body %></p>
          <span class="name"><%= comment.author %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
