<%= render 'shared/content_title', title: "Account Settings" %>

<div class="well">
  <dl class='dl-horizontal'>
    <dt>
      Username:
    </dt>
    <dd>
      <%= @user.username %>
    </dd>
  </dl>
  <br>
  <%= link_to "Edit Account", edit_user_path(current_user), class: "submit-btn submit md-btn btn" %>
</div>
