<div id="page-naem-container" class="page-naem-container white-bg" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
  <div class="parallax-style">
    <div class="container text-center">
      <h2 class="page-name"><%= title %></h2>
      <div class="current-page-link">

      </div>
    </div><!-- /.container -->
  </div><!-- /.parallax-style -->
</div><!-- /.page-naem-container -->
