<div id="page-naem-container" class="page-naem-container white-bg" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
    <div class="parallax-style">
      <div class="container text-center">
        <h2 class="page-name">About Us</h2>
        <div class="current-page-link">
          <a href="/">Home </a> <i class="fa fa-angle-double-right"></i>  About
        </div>
      </div><!-- /.container -->
    </div><!-- /.parallax-style -->
  </div><!-- /.page-naem-container -->

  <div id="about-page" class="page about-page page-container">
    <div class="container">
      <div class="row">
        <!-- Post Container -->
        <div id="post-container" class="col-md-12 post-container" role="main">
          <article class="post">
            <div class="post-content">
              <h2 class="post-title">
                Who we are
              </h2>
              <div class="entry-content">
                <p>
                  <strong>We are a group of friends that are learning computer programming.</strong>
                </p>
                <p>
                  One of the member's of our group had a close family member pass away recently and he was unable to find any good online memorial builders. Most of them were out-dated with Web 1.0 styling and capabilities. He suggested we build an online memorial builder with a modern look and add integrations with other social networks.
                </p>
                <blockquote>
                  Death leaves a heartache no one can heal.  Love leaves a memory no one can steal.
                </blockquote>
                <p>
                </p>
              </div><!-- /.entry -->
            </div><!-- /.post-content -->
          </article><!-- /.post -->


        </div><!-- /.post-container -->
        <!-- Post Container End -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /#about-page -->
