<div id="page-naem-container" class="page-naem-container white-bg" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
			<div class="parallax-style">
				<div class="container text-center">
					<h2 class="page-name">Upcoming Features</h2>
					<div class="current-page-link">
						<a href="/">Home </a> <i class="fa fa-angle-double-right"></i>  Features
					</div>
				</div><!-- /.container -->
			</div><!-- /.parallax-style -->
		</div><!-- /.page-naem-container -->



		<!-- Faq Section -->
		<section id="faq-section" class="faq-section page  page-container">
			<div class="container">
				<div class="row">
					<!-- Post Container -->
					<div id="post-container" class="col-md-8 post-container" role="main">
						<div class="faq-details">
							<div class="faq faq-1">
								<h3 class="faq-title">Upcoming Features</h3><!-- /.faq-title -->
								<div class="panel-group accordion" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
                        Visitor Interactivity
                      	</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">
											<div class="panel-body">
												<div class="row">
													<div class="col-sm-12">
														<p>
															<strong>
																We would like to allow for visitors to comment on events and photos as well as suggest their own timeline events and submit pictures. Also, we want to enable social login through FB / Twitter so the memorial can be seamlessly connected to those networks.
															</strong>
														</p>
													</div>
												</div>
											</div><!-- /.panel-body -->
										</div><!-- /#collapseThree -->
									</div><!-- /.panel -->

									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
													Enhanced Memorial Creation
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse">
											<div class="panel-body">
												<div class="row">
													<div class="col-sm-12">
														<p>
															<strong>
																We want to add a slider capability to the main image secition when you enter the memorial so you can have multiple images rotating. We want to include a better cemetery lookup, Google Maps integration, and further develop the photo section so you can organize pictures in photo galleries.
															</strong>
														</p>
													</div>
												</div>
											</div><!-- /.panel-body -->
										</div><!-- /#collapseOne -->
									</div><!-- /.panel -->

									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
													More Themes
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse">
											<div class="panel-body">
												<div class="row">
													<div class="col-sm-12">
														<p>
															<strong>
																Hopefully, we can create 5-10 different Memorial templates with color variations.
															</strong>
														</p>
													</div>
												</div>
											</div><!-- /.panel-body -->
										</div><!-- /#collapseTwo -->
									</div><!-- /.panel -->

									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
                        Test Coverage
                        </a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse">
											<div class="panel-body">
												<div class="row">
													<div class="col-sm-12">
														<p>
															<strong>
																Full unit and integration test coverage (this is for the programming team).
															</strong>
														</p>
													</div>
												</div>
											</div><!-- /.panel-body -->
										</div><!-- /#collapseThree -->
									</div><!-- /.panel -->

								</div><!-- /#accordion -->
							</div><!-- /.faq-1 -->


						</div><!-- /.faq-details -->

					</div><!-- /.post-container -->
					<!-- Post Container End -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /#faq-section -->
		<!-- Faq Section -->
