<%= render 'shared/content_title', title: "Blog" %>

<div id="obituaries-page" class="page obituaries-page page-container">
	<div class="container">
		<div class="row">
			<div id="post-container" class="col-md-12 post-container" role="main">
				<%= react_component('BlogBox', page_number: 1, total_pages: @posts.total_pages) %>
			</div>
		</div>
	</div>
</div>
