<%= render 'shared/content_title', title: "Blog" %>

<div id="obituaries-page" class="page obituaries-page page-container">
			<div class="container">
				<div class="row">
					<!-- Post Container -->
					<div id="post-container" class="col-md-12 post-container" role="main">

						<div id="posts">
							<%= render 'posts' %>
						</div>


					</div><!-- /.post-container -->
					<!-- Post Container End -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /#about-page -->
