<%= render 'shared/content_title', title: "Blog" %>

<div id="obituaries-page" class="page obituaries-page page-container">
	<div class="container">
		<div class="row">
			<div id="post-container" class="col-md-12 post-container" role="main">
				<div id="react-posts">
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/babel">
	var Posts = React.createClass({
		getInitialState() {
			return { posts: [] }
		},

		componentDidMount() {
			$.getJSON('/api/v1/posts.json', (response) => {
				this.setState({ posts: response })
			})
		},

		render: function() {
			var posts = this.state.posts.map((post) => {
				var day = moment(post.created_at).format('MMMM D, YYYY');
				return (
					<div className="about-right-box" key={post.id}>
					  <article className="post-content">
					    <div className="row">
					      <div className="col-sm-6">
					        <div className="featured-img">
										<img src={post.picture} />
					        </div>
					      </div>
					      <div className="col-sm-6">
					        <div className="post-container">
					          <h3 className="post-title">
											<a href={ `posts/${post.id}` }>{post.title}</a>
					          </h3>
					          <div className="post-meta">
					            <span className="time">
												{day}
											</span>
					          </div>
					          <p className="post-description">
					            {post.summary}
					          </p>
					          <div className="continue-reading pull-left">
											<a href={ `posts/${post.id}` }>Read More</a>
					          </div>
					        </div>
					      </div>
					    </div>
					  </article>
					</div>
				)
			});

			return (
				<div className="Posts">
					{posts}
				</div>
			);
		}
	});

		ReactDOM.render(
			<Posts />,
			document.getElementById('react-posts')
		);
</script>
