<%= render 'shared/content_title', title: "Blog Post" %>

<section id="cremation-page" class="page cremation-page page-container">
	<div class="container">
		<div class="row">
			<%= react_component('SingleBlog', post_id: (params[:id]) ) %>
		</div>
</section>

<script>
	var disqus_config = function () {
		this.page.url = "http://gomemori.com/posts/<%= params[:id] %>";
		this.page.identifier = <%= params[:id] %>;
	};
	(function() {
		var d = document, s = d.createElement('script');
		s.src = '//memoriapp.disqus.com/embed.js';
		s.setAttribute('data-timestamp', + new Date());
		(d.head || d.body).appendChild(s); })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
