<div id="sidebar" class="col-md-4 sidebar">
  <!-- Banner Section -->
  <div id="banners" class="banners">
      <div class="banner-item">
      <div class="banner-icon">
      </div>
      <h3 class="banner-title">Visitor Statistics</h3>
      <p class="banner-txt">
        Visitors Today:<br>
        Visitors This Month:<br>
        Visitors This Year:<br>
      </p>
    </div>
  </div><!-- /.banner -->

  <div class="banner-item">
    <div class="banner-icon">
      <i class="fa fa-book"></i>
    </div>
    <h3 class="banner-title">Memorials 101</h3>
    <p class="banner-txt">
      Articles showing how to create a memorial
    </p>
  </div>

  <div class="banner-item">
    <div class="banner-icon">
      <i class="fa fa-file-text"></i>
    </div>
    <h3 class="banner-title">Video Tutorial</h3>
    <p class="banner-txt">
      Video tutorial of creating a memorial
    </p>
  </div>


  <!-- Rotating blog articles from main site -->
  <aside class="widget widget_post">
    <img src="<%= asset_path 'memorials/follow-our-faith/ing-sidebar.jpg' %>" alt="Faith Image">
    <h4 class="post-title">
      Rotate Blog Article
    </h4>
    <p>
      We have already learned that we should be active in doing good, when the act will be most helpful.
    </p>
    <div class="continue-reading">
      <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
    </div><!-- /.continue-reading -->

  </aside><!-- /.widget -->


  <aside class="widget widget_slider">
  </aside>
</div><!-- /#sidebar -->
