<!-- Footer Widget -->
<footer id="footer-widget" class="footer-widget">
	<div class="copy-right text-center">
		<div class="container">
			© <a href="#">Memorial Spaces</a> 2016 - All Rights Reserved<span></span> Designed by <a href="http://www.tyshaih.com">Ty Shaikh</a> <span></span> Developed by <a href="http://www.tyshaikh.com">Ty Shaikh</a>
		</div>
	</div><!-- /.copyright -->
</footer><!-- /#footer-widget -->
<!-- Footer Widget End -->
