<!-- Footer Widget -->
<footer id="footer-widget" class="footer-widget">
	<div class="copy-right text-center">
		<div class="container">
			© <%= link_to "Memorial Spaces", root_path %> 2016 - All Rights Reserved 
		</div>
	</div><!-- /.copyright -->
</footer><!-- /#footer-widget -->
<!-- Footer Widget End -->
